.contact-button-row {
    margin-top: 1.5vh;
}
.contact-button-row button{
    margin-right: 0.5em;
    margin-left: 0.5em;
    background-color: transparent;
    border: none;
    transition: 0.25s linear;
}
.contact-button-row button:hover{
    transform: scale(1.25);
}

.download-button {
    transition: 0.25s linear;
    margin: 1em;
    position: absolute;
    top: 5vh;
    right: 5vh;
}
.download-button a{
    text-decoration: none;
    font-size: small;
    color: #171717;
    background-color: white;
    padding: 0.5em;
    border: none;
}
.download-button:hover{
    transform: scale(1.075);
}

.contact-body {
    min-width: 70vw;
    margin: 3vh;
    min-height: 65vh;
    max-height: 65vh;
    overflow: scroll;
    position: relative;
}

.sticky-object {
    position: absolute;
    padding: 2em;
}

.contact-object {
    background-color: #171717;
    opacity: 0.85;
    max-width: 30vw;
    min-width: 30vw;
    min-height: 35vw;
    margin: 2vh;
    position: absolute;
}

.content-title {
    padding-top: 5vh;
    padding-left: 5vh;
    text-align: left;
    text-transform: capitalize;
    font-size: 16px;
}

.content-text {
    text-align: left;
    padding-left: 5.5vh;
    padding-top: 1.5vh;
    font-size: 14px;
}
.content-text li {
    padding-bottom: 2vh;
    padding-right: 6vh;
}