@font-face {
    src: url(../assets/fonts/LEMONMILK-Regular.otf);
    font-family: font;
}

.landing-container {
    padding-top: 24vh;
    align-items: center;
}

.info-row {
    padding: 1.5vh;
}
.info-row button {
    margin: 0.75vh;
    background-color: transparent;
    border: none;
    transition: 0.25s linear;
}
.info-row button:hover {
    transform: scale(1.2);
}

.inline-title {
    font-family: font;
    padding: 1vh;
    margin: 2vh;
    font-size: 5vh;
    letter-spacing: 0.2vw;
    transition: all .2s linear; 
}

.animated-text {
    display: inline-block;
}
.animated-text:hover {
    transform: scale(1.2);
}

.small-title {
    padding-top: 3vh;
    padding-bottom: 1vh;
}

.desc-text {
    align-items: center;
    font-size: 16px;
}

.word-inline {
    display: inline-block;
}