.card-item {
    padding: 2vh;
    text-align: left;
    min-width: 22vw;
    max-width: 22vw;
    min-height: 8vw;
    max-height: 8vw;
    background-color: #171717;
    margin: 0.75vh;
    position: relative;
    transition: 0.25s linear;
}
.card-item:hover {
    transform: scale(1.03);
}

.card-title {
    font-size: 16px;
    text-transform: uppercase;
    max-width: 18vw;
    overflow: hidden;
}

.card-desc {
    font-size: 13px;
    color: gray;
}

.card-desc-date {
    font-size: 12px;
    color: darkgray;
}

.card-desc-status{
    font-size: 12px;
    color: darkgray;
    display: inline-block;
}
.status[data-status="complete"] {
    color: green;
}
.status[data-status="ongoing"] {
    color: orange;
}

.card-desc-text {
    margin-top: 0.5vh;
    margin-bottom: 2.5vh;
}

.card-button button {
    margin: 0.75vh;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0.5vh;
    right: 0.5vh;
}

.card-desc-bottom {
    position: absolute;
    bottom: 1vh; 
    font-size: 12px;
    color: darkgray;
}
