* {
  cursor: none;
}

.App {
  text-align: center;
  background-image: url();
  margin: 5vh;
  max-height: 90vh;
  min-height: 90vh;
  max-width: 90vw;
  min-width: 90vw;
  mix-blend-mode: difference;
}

.blur-border {
  box-sizing: border-box;
}

.main-content {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #E4E2E1;
}

body {
  padding: 0;
  margin: 0;
}